*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cont{
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 200px auto;
    width: 300px;
    height: 200px;

    justify-content: center;
    align-items: center;
}
#cont #fondo{
    display: flex;
    background-color: rgb(197, 0, 0);
    width: 90px;
    height: 40px;

    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}
#cont #fondo #tuerca{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;

    border-radius: 50%;    
}
